.topo {
    color: rgb(11, 11, 11);
}
.container {
    background-color: rgb(228, 253, 253);
    display: flex;
}

.items {
    
    padding-right: 5rem;
    width: auto;
    margin-top: 100px;
    margin-left: 2rem;
    font-family: 'Roboto';
    font-weight: 400;
    
}

.item {
    margin-bottom: 0px;
    display: flex;
    width: 100%;
}

.informacao {

    display: flex;
    flex-direction: column;
    padding-top: 2px;
    width: 50%;
      
}
.elementos {

    padding-left: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 5rem;
    
    
}
.elementosButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    
}


.resumo {
    background-color: rgb(103, 98, 255);
    padding-left: 2rem;
    padding-right: 10rem;
    width: auto;
    margin-top: 100px;
   
    border-radius: 25px;
    
   
}

hr {
    margin: 10px 0;
}
p {
    font-weight: 200;
    margin: 2px;
}
.pResumo {
    color: white;
}

.imagem {
    margin-top: 2px;
    margin-right: 1rem;
    width: 120px;
    height: 100px;
    border-radius: 10%;
}