.topo {
    color: rgb(11, 11, 11);
    font-family:Georgia, 'Times New Roman', Times, serif ;

}
.container {
    background-color: rgb(228, 253, 253);
    display: flex;
}

.items {
    padding: auto;
    padding-left: 2rem;
    padding-right: 5rem;
    width: 48%;
    margin-top: 100px;
    margin-left: 4rem;
    
    
}

.resumo {
    align-items: flex-start;
    background-color: rgb(164, 129, 251);
    padding-left: 2rem;
    padding-right: 5rem;
    width: 48%;
    margin-top: 100px;
   
}