.topo {
    color: rgb(11, 11, 11);
    font-family:Georgia, 'Times New Roman', Times, serif ;

}
.container {
    background-color: rgb(228, 253, 253);
    display: flex;
}

.items {
    padding: auto;
    padding-left: 2rem;
    padding-right: 5rem;
    width: auto;
    margin-top: 100px;
    margin-left: 4rem;
    margin-bottom: auto;
    
    
    
}

.item {
    margin-bottom: 20px;
    display: flex;
}

.informacao {
    display: flex;
}


.resumo {
    background-color: rgb(164, 129, 251);
    padding-left: 2rem;
    padding-right: 5rem;
    width: auto;
    margin-top: 100px;
    margin-right: 100px;
    border-radius: 25px;
    margin-bottom: auto;
    
   
}

hr {
    margin: 40px 0;
}